<h1 class="section-title">answer</h1>

<div class="question-section">
 You: <span class="question-content">
    <%= @question %>
  </span>
</div>

<div class="answer-section">
 Coach: <span class="answer-content">
    <%= @answer %>
  </span>
</div>

<a href="/ask">Back</a>
